<!--IN ORDER TO HAVE NODEMON LOOK FOR CHANGES TO PARTIALS, RUN COMMAND
//nodemon server.js -e js,hbs
-->
<header>
  <h1>{{pageTitle}}</h1>
  <p><a href="/">Home</a></p>
  <p><a href="/about">About</a></p>
  <p><a href="/projects">Projects</a></p>
</header>
